.container{
    color: white;
    background: url(back.jpg);
    border: 1px solid red;
}

.messages{
    text-align: justify;
    padding: 1rem;
    margin-top: 2rem;
    border: 1px solid white;
    
}